<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>trms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/index.html</location>
  </error-page>
  <servlet>
    <servlet-name>ReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlet.ReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementServlet</servlet-name>
    <url-pattern>/reimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptReimbursementServlet</display-name>
    <servlet-name>AcceptReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlet.AcceptReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptReimbursementServlet</servlet-name>
    <url-pattern>/acceptreimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalServlet</display-name>
    <servlet-name>ApprovalServlet</servlet-name>
    <servlet-class>com.revature.servlet.ApprovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalServlet</servlet-name>
    <url-pattern>/approval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectionServlet</display-name>
    <servlet-name>RejectionServlet</servlet-name>
    <servlet-class>com.revature.servlet.RejectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectionServlet</servlet-name>
    <url-pattern>/rejection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttachmentServlet</display-name>
    <servlet-name>AttachmentServlet</servlet-name>
    <servlet-class>com.revature.servlet.AttachmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttachmentServlet</servlet-name>
    <url-pattern>/attachment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundsServlet</display-name>
    <servlet-name>FundsServlet</servlet-name>
    <servlet-class>com.revature.servlet.FundsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundsServlet</servlet-name>
    <url-pattern>/funds</url-pattern>
  </servlet-mapping>
</web-app>